body {
	background-color: #93B7BE;
	color: #454545;
	font-family: fantasy;
}

.box {
	background-color: #D5C7BC;
	padding: 20px;
	margin: 20px;
}

.classes-row {
	display: flex;
	flex-direction: row;
	align-content: space-between;
	justify-content: center;
}

.classes-col {
}

.class {
	width: 80px;
	height: 80px;
	background-color: orange;
	margin: 5px;
	padding: 10px;
}

.day {
	background-color: red;
}
