<div class="box">
    <h1>Iron Temple - Termination</h1>
</div>
<div class="box">
    <p>Termination Sucessfull! Hope to see you again one day <%== @name %>.</p>
</div>
<div class="box">
    <a href="/">Home</a>
</div>
