<div class="box">
	<h1>About Us</h1>
</div>
<div class="box">
	<p>Welcome to The Iron Temple!</p>
	<p>This is a gym for everybody that has workout equipment and a range of fitness classes.</p>
	<p>We cater to returning members and people with a variety of medical and special needs.</p>
</div>
<div class="box">
	<a href="/">Home</a>
</div>
