<div class="box">
<h1>Classes this month</h1>
</div>
<div class="box">
<div class="classes-col">
<div class="classes-row">
    <div class="class day">Mon</div>
    <div class="class day">Tue</div>
    <div class="class day">Wed</div>
    <div class="class day">Thu</div>
    <div class="class day">Fri</div>
    <div class="class day">Sat</div>
    <div class="class day">Sun</div>
</div>
<div class="classes-row">
    <div class="class">Mon</div>
    <div class="class">Tue</div>
    <div class="class">Wed</div>
    <div class="class">Thu</div>
    <div class="class">Fri</div>
    <div class="class">Sat</div>
    <div class="class">Sun</div>
</div>
<div class="classes-row">
    <div class="class">Mon</div>
    <div class="class">Tue</div>
    <div class="class">Wed</div>
    <div class="class">Thu</div>
    <div class="class">Fri</div>
    <div class="class">Sat</div>
    <div class="class">Sun</div>
</div>
</div>
</div>
<div class="box">
<a href="/">Home</a>
</div>
