<div class="box">
	<h1>Class</h1>
</div>
<div class="box">
    <p>About <%= @class.name %>.</p>
    <p>This class is at <%= @class.day %></p>
    <br />
    <p>The following members have signed up:</p>
    <ul>
        <li></li>
    </ul>
</div>
<div class="box">
	<a href="/">Home</a>
</div>
