<div class="box">
<h1>Classes this month</h1>
</div>
<div class="box">
<div class="classes-col">
<div class="classes-row">
    <div class="header day">Mon</div>
    <div class="header day">Tue</div>
    <div class="header day">Wed</div>
    <div class="header day">Thu</div>
    <div class="header day">Fri</div>
    <div class="header day">Sat</div>
    <div class="header day">Sun</div>
</div>
<% for week in @weeks %>
    <div class="classes-row">
    <% for day in week %>
        <% if day.instance_of? GymClass %>
            <div class="day class">
            <p><%= day.day %></p>
            <p><b><%= day.name %></b></p>
            <p>Instructor: <%= day.instructor %></p>
            <p>Capacity: <%= day.capacity %></p>
            </div>
        <% elsif day %>
            <div class="day"></div>
        <% else %>
            <div class="day off-month"></div>
        <% end %>
    <% end %>
    </div>
<% end %>
</div>
</div>
<div class="box">
<a href="/">Home</a>
</div>
