<div class="box">
    <h1>The Iron Temple</h1>
</div>
<div class="box">
    <p>Welcome to The Iron Temple!</p>
</div>
<div class="box">
<a href="/about-us">About us</a>
<a href="/sign-up">Sign Up</a>
<a href="/terminate">Terminate Account</a>
<a href="/classes">Classes</a>
</div>
