<div class="box">
    <h1>Iron Temple - Sign Up</h1>
</div>
<div class="box">
    <p>Our apologies but you are currently too young to join our gym! Please come back when you are 16.</p>
</div>
<div class="box">
    <a href="/">Home</a>
</div>
