<div class="box">
    <h1>Iron Temple - Sign Up</h1>
</div>
<div class="box">
    <p>Welcome to the Iron Temple! Please sign up using the form.</p>
    <form action="/sign-up" method="post"><table>
    <tr><td>Name:</td><td><input name="name" /></td></tr>
    <tr><td>Date of Birth:</td><td><input name="dob" /></td></tr>
    <tr><td></td><td style="text-align: right;"><input type="submit" value="sign up" /></td></tr>
    </table></form>
</div>
<div class="box">
    <a href="/">Home</a>
</div>
