<div class="box">
    <h1>CodeClan Gym - Terminate</h1>
</div>
<div class="box">
    <p>Enter your PIN to terminate your account. This will stop your payment from being taken. We continue to keep a record of you for 1 year in case you should choose to sign up again.</p>
    <form><table>
    <tr><td>PIN:</td><td><input name="name" /></td></tr>
    <tr><td></td><td style="text-align: right;"><input type="submit" value="terminate" /></td></tr>
    </table></form>
</div>
<div class="box">
    <a href="/">Home</a>
</div>
