body {
	background-color: #6290C3;
	color: #1A1B41;
	font-family: fantasy;
}

.box {
	background-color: #C2E7DA;
	padding: 20px;
	margin: 20px;
}

.classes-row {
	display: flex;
	flex-direction: row;
	align-content: space-between;
	justify-content: center;
}

.classes-col {
}

.day {
	width: 130px;
	height: 130px;
	background-color: #F1FFE7;
	margin: 5px;
	padding: 5px;
}

.header {
	background-color: #364156;
	color: white;

	font-size: 22px;
	text-align: center;
	font-weight: bold;
}

.class {
	background-color: #72FDB8;

	font-size: 13px;
	line-spacing: 10px;
}

.off-month {
	background-color: grey;
}

