<div class="box">
    <h1>Iron Temple - Sign Up</h1>
</div>
<div class="box">
    <p>Welcome to the Temple of Iron: Your PIN is <%= @pin %>. Please make a note of this.</p>
</div>
<div class="box">
    <a href="/">Home</a>
</div>
