<div class="box">
    <h1>Iron Temple - Sign Up</h1>
</div>
<div class="box">
    <p>Welcome back to the Temple of Iron: We have reactivated your account. Your PIN is <%= @pin %> as always.</p>
</div>
<div class="box">
    <a href="/">Home</a>
</div>
